#File
Instruction.txt

#Python
__pycache__/
*.py[cod]
*$py.class

#Virtual environment
venv/
.env/

#IDEs
.vscode/
.idea/

#System files
.DS_Store
Thumbs.db

#Logs
*.log

#Build/dist
build/
dist/
*.egg-info/
